#logoPMST {
  width: 22%;
  height: 25%;
}

.formChamado {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  margin-right: 150px;
  margin: auto;
}

.formConsulta {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  margin-right: 150px;
  margin: auto;
}

.formConsulta h3 {
  width: 400px;
}

#botoesChamado {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-right: 2px;
}

#botoesConsulta {
  height: fit-content;

}

.container2 {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
}

.container_card {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 70px;
}

body {
  /* font-family: "Roboto Condensed", sans-serif; */
    font-size: 16px;
    color: #333;
    background-color: #2c508d;
}

.formEquipamento {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-left: 150px;
  margin-right: 150px;
  margin: auto;
  height: 100px;
}

#consultaProtocolo {
  padding-left: 800px;
}

#botaoChamado {
  margin-right: 5px;
}